.settings-switch {
    width: 24px;
    margin-right: 4px;
    margin-bottom: 8px;
}

.settings-switch-text {
    margin-top: 8px;
}

.settings-button {
    margin-top: 24px;
    margin-right: 16px;
}

.settings-title {
    margin-bottom: 24px;
}