.settings-switch {
    width: 24px;
    margin-right: 4px;
    margin-bottom: 8px;
}

.settings-switch-text {
    margin-top: 8px;
}

.settings-button {
    margin-top: 24px;
    margin-right: 16px;
}

.settings-title {
    margin-bottom: 24px;
}

.settings-card {
    background: #fff;
    padding: 24px;
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
    min-height: 280px;
}

.dark .settings-card {
  background-color: #24292e;
}

.dark .settings-title {
    color: #F5F5F5;
}

.dark .settings-switch-text {
    color: #CCC;
}
