.task-form {
    width: 800px;
}

.task-form-forgot {
    float: right;
}

.task-form-button {
    width: 100%;
}

form textarea.ant-input {
    height: 200px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover {
    position: fixed;
    left: 50%;
    margin-left: -432px;
    top: 50%;
    margin-top: -288px;
    background-color: #FFF;
    padding: 32px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.title-input {
    font-weight: 600;
    width: 100%;
    font-size: 25px;
    height: 48px;
    color: rgba(0, 0, 0, 0.85);
    border: none;
}

.title-input::placeholder {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.35);
}

.ant-form {
    color: rgba(0, 0, 0, 0.75);
}

textarea.edit-textarea {
    height: 400px;
}

.form-item {
    margin-bottom: 16px;
}

.popover.dark {
    background-color: #24292e;
}


.dark .page-layout,
.dark textarea,
.dark input {
    background-color: #263238;
    border: 0;
}

.dark input::placeholder,
.dark textarea::placeholder {
    color: #595959;
}

.dark input,
.dark textarea,
.dark p {
    color: #CCC;
}

.dark input {
    padding-left: 8px;
}

.markdown img {
    max-width: 100%;
    object-fit: contain;
}